./pookiewears-52a2f-firebase-adminsdk-fbsvc-cf17d854d3.json
.pookiewears-52a2f-firebase-adminsdk-fbsvc-cf17d854d3.json
pookiewears-52a2f-firebase-adminsdk-fbsvc-cf17d854d3.json

node_modules/
.env
# Local Netlify folder
.netlify
